## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("c:/My House/Bootcamp/API/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Bethel,US,41.3712,-73.4140,78.94,81,90,4.61,overcast clouds
1,1,Yar-Sale,RU,66.8333,70.8333,49.17,67,99,11.45,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,74.12,78,100,14.72,light rain
3,3,Vaini,TO,-21.2000,-175.2000,69.96,83,75,8.05,broken clouds
4,4,Kaili,ID,-3.4626,120.2147,75.15,68,82,2.48,broken clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Bethel,US,41.3712,-73.4140,78.94,81,90,4.61,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,74.12,78,100,14.72,light rain
3,3,Vaini,TO,-21.2000,-175.2000,69.96,83,75,8.05,broken clouds
4,4,Kaili,ID,-3.4626,120.2147,75.15,68,82,2.48,broken clouds
5,5,Thompson,CA,55.7435,-97.8558,69.96,56,75,4.61,broken clouds
6,6,Tyup,KG,42.7276,78.3648,69.51,52,91,3.44,overcast clouds
9,9,Banda Aceh,ID,5.5577,95.3222,82.04,75,55,13.87,broken clouds
10,10,Grand Gaube,MU,-20.0064,57.6608,67.37,91,100,5.01,moderate rain
11,11,Zhangye,CN,38.9342,100.4517,77.40,25,23,5.32,few clouds
15,15,Kahului,US,20.8947,-156.4700,87.82,73,40,25.32,light rain

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                427
City                   427
Country                427
Lat                    427
Lng                    427
Max Temp               427
Humidity               427
Cloudiness             427
Wind Speed             427
Weather Description    427
dtype: int64

In [45]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# If you have some rows with null values, you'll need to drop them using 
# the dropna() method at the end of your filtering statement when you are 
# creating the new DataFrame.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Bethel,US,78.94,overcast clouds,41.3712,-73.4140,
2,Rikitea,PF,74.12,light rain,-23.1203,-134.9692,
3,Vaini,TO,69.96,broken clouds,-21.2000,-175.2000,
4,Kaili,ID,75.15,broken clouds,-3.4626,120.2147,
5,Thompson,CA,69.96,broken clouds,55.7435,-97.8558,
6,Tyup,KG,69.51,overcast clouds,42.7276,78.3648,
9,Banda Aceh,ID,82.04,broken clouds,5.5577,95.3222,
10,Grand Gaube,MU,67.37,moderate rain,-20.0064,57.6608,
11,Zhangye,CN,77.40,few clouds,38.9342,100.4517,
15,Kahului,US,87.82,light rain,20.8947,-156.4700,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Bethel,US,78.94,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
2,Rikitea,PF,74.12,light rain,-23.1203,-134.9692,People ThankYou
3,Vaini,TO,69.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,Kaili,ID,75.15,broken clouds,-3.4626,120.2147,
5,Thompson,CA,69.96,broken clouds,55.7435,-97.8558,Burntwood Hotel
...,...,...,...,...,...,...,...
708,Cam Ranh,VN,87.76,scattered clouds,11.9214,109.1591,OYO 598 Peony Hotel
710,Elko,US,85.05,overcast clouds,41.0002,-115.5012,
711,Gizo,SB,83.16,light rain,-8.1030,156.8419,Imagination Island
712,Shintomi,JP,83.52,few clouds,32.0785,131.4723,ホテルスイート
714,Baculin,PH,87.33,scattered clouds,7.4525,126.5842,Shovy's Cove

In [25]:
# 7. Drop the rows where there is no Hotel Name.  WHY DOESNT THIS WORK???
hotel_df.count()

City                   427
Country                427
Max Temp               427
Weather Description    427
Lat                    427
Lng                    427
Hotel Name             427
dtype: int64

In [27]:
import numpy as np
hotel_df.loc[
            (hotel_df["Hotel Name"] == "") 
                    ,
                    "Hotel Name"] = np.nan

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Bethel,US,78.94,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
2,Rikitea,PF,74.12,light rain,-23.1203,-134.9692,People ThankYou
3,Vaini,TO,69.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,Kaili,ID,75.15,broken clouds,-3.4626,120.2147,NaN
5,Thompson,CA,69.96,broken clouds,55.7435,-97.8558,Burntwood Hotel
6,Tyup,KG,69.51,overcast clouds,42.7276,78.3648,"Yurtochnyy Gorodok ""Ybrayym-Nur"""
9,Banda Aceh,ID,82.04,broken clouds,5.5577,95.3222,Sulthan Hotel International
10,Grand Gaube,MU,67.37,moderate rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
11,Zhangye,CN,77.40,few clouds,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
15,Kahului,US,87.82,light rain,20.8947,-156.4700,Maui Seaside Hotel

In [30]:
hotel_df = hotel_df.dropna()

In [31]:
hotel_df.count()

City                   400
Country                400
Max Temp               400
Weather Description    400
Lat                    400
Lng                    400
Hotel Name             400
dtype: int64

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "c:/My House/Bootcamp/API/World_Weather_Analysis/Vacation_Search/WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}<dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))